.popup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.card-media-popup {
  width: 100%;
  height: 250px;
  background-color: #1f2128;
}

.card-media-container_Popup {
  position: relative;
}

/* Popup card */
.card-popup {
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 101; /* Ensure the card is on top of the background */
}

/* Body text */
.card-popup .body-text {
  font-size: 14px;
}

/* Close button */
.card-popup .close-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.card-popup .close-button button {
  background-color: #b0b0b0;
  color: #fff;
}

.card-popup .close-button button:hover {
  background-color: #d84315;
}

.card-name-overlay_popup {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 700;
  top: 20%; /* Adjust the top value */
  left: 50%; /* Adjust the left value */
  transform: translate(-50%, -50%); /* Center the element */
  color: #fff;
}
.card-date-overlay_popup {
  margin-top: 5px;
  font-size: 10px;
  font-size: 400;
}
.card-back-overlay {
  position: absolute;
  top: 10px;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
}

.card-temp-overlay_popup {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  position: absolute;
  top: 50%;
  right: 25%;
  color: #fff;
  font-size: 35px;
}
.card-temp_muchdetails-overlay_popUp {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 2px;
  position: absolute;
  top: 70%;
  right: 25%;
  color: #fff;
  font-size: 12px;
  font-weight: 540;
}

.card-icons-overlay_popup {
  position: absolute;
  color: #fff;
  top: 70%; /* Adjust the top value */
  left: 30%; /* Adjust the left value */
  transform: translate(-50%, -50%); /* Center the element */
}
.card-seperate-overlay_popup {
  position: absolute;
  color: #fff;
  height: 1px;
  top: 40%; /* Adjust the top value */
  left: 50%; /* Adjust the left value */
  transform: translate(-50%, -50%); /* Center the element */
}

@media (max-width: 400px) {
  .card-name-overlay_popup {
    top: 20%; /* Adjust the top value */
    left: 50%; /* Adjust the left value */
  }

  .card-temp-overlay_popup {
    top: 50%; /* Adjust the top value */
    left: 70%; /* Adjust the left value */
    transform: translate(-5%, -50%); /* Center the element */
  }

  .card-icons-overlay_popup {
    position: absolute;
    color: #fff;
    top: 70%; /* Adjust the top value */
    left: 25%; /* Adjust the left value */
    transform: translate(-50%, -50%); /* Center the element */
  }
  .card-seperate-overlay_popup {
    position: absolute;
    color: #fff;
    top: 40%; /* Adjust the top value */
    left: 55%; /* Adjust the left value */
    transform: translate(-50%, -50%); /* Center the element */
  }
  .card-temp_muchdetails-overlay_popUp {
    top: 70%;
    right: 10%;
  }
}
