.selectedCardContainer {
  position: relative;
  background-image: url('../../assets/1 Dashboard - 1200px.png');
  background-size: cover;
}

.weather-card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  height: 100%;
  min-height: calc(100vh - 134px);
  width: 100%;
  margin-bottom: 185px;
}
