.app-container {
  position: relative;
  background-color: #1f2128;
}
.weather-card-container {
  display: grid;
  gap: 10px; /* Adjust the gap between cards as needed */
  justify-content: center; /* Center the grid horizontally */
  align-items: center; /* Center the grid vertically */
  margin-top: 50px;
  padding: 0 auto; /* Equal padding on the left and right of the container */
}

.weather-card-container-twoColumn {
  display: grid;
  /* height: 800px; */
  grid-template-columns: repeat(2, 350px); /* Two equal-width columns */
  margin-top: 5px;
  padding-bottom: 20px;
  /* grid-template-rows: repeat(3, 1fr); */
  gap: 20px; /* Adjust the gap between cards as needed */
  justify-content: center; /* Center the grid horizontally */
  align-items: center; /* Center the grid vertically */
  padding: 0 auto; /* Equal padding on the left and right of the container */
}
.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  overflow: hidden;
}
.logo-container img {
  max-width: 100%; /* Ensure the image does not exceed the container's width */
  max-height: 100%; /* Ensure the image does not exceed the container's height */
  z-index: 2;
}

/* viewport is less than or equal to the specified max-width */
/* @media (max-width: 767px) {
  .logo-container img {
    margin: 30px;
    width: 30%;
  }
} */

@media (max-width: 800px) {
  .logo-container img {
    margin: 30px;
    width: 40%;
  }
}

/* viewport is greater than or equal to the specified min-width */
@media (min-width: 800px) {
  .logo-container img {
    margin: 30px;
    width: 25%;
  }
}
@media (min-width: 1190px) {
  .logo-container img {
    margin: 30px;
    width: 25%;
  }
}
@media (min-width: 1200px) {
  .logo-container img {
    margin: 30px;
    width: 300px;
  }
}

.background-image {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.background-image img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

/* .weather-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  border-radius: 10px;
  z-index: 1;
  overflow-x: hidden;
} */

/* .cards {
  padding-top: 100px;
} */
/* .back-button {
  text-align: center;
  margin-top: 20px;
}

.back-button button {
  font-size: 16px;
} */
