.app-container {
  position: flex;
  background-image: url('../../assets/1 Dashboard - 1200px.png');
  background-size: cover;
}

.weather-card-container-twoColumn {
  display: grid;
  grid-template-columns: repeat(2, 350px); /* Two equal-width columns */
  margin-top: 5px;
  padding-bottom: 20px;
  gap: 20px; /* Adjust the gap between cards as needed */
  justify-content: center; /* Center the grid horizontally */
  align-items: center; /* Center the grid vertically */
  padding: 0 auto; /* Equal padding on the left and right of the container */
  min-height: calc(100vh - 174px);
}

/* .background-image {
  position: fixed;
  width: 100%;
  height: 100%;
} */

/* viewport is less than or equal to the specified max-width */
@media (max-width: 800px) {
  .weather-card-container-twoColumn {
    display: grid;
    margin-top: 5px;
    padding-bottom: 20px;
    grid-template-columns: none;
    justify-content: center; /* Center the grid horizontally */
    align-items: center; /* Center the grid vertically */
    padding: 0 10%; /* Equal padding on the left and right of the container */
  }
}

/* viewport is greater than or equal to the specified min-width */
